<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	 xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    />
    <link rel="stylesheet" 	th:href="@{/css/user/header_footer.css}" />
    <title>User Infomation</title>
  </head>
	<body>
	<div class="body content" layout:fragment="body">
		<h1>User Infomation</h1>
		<table>
			<thead>
			<tr>
				<th>UserName</th>
				<th>FullName</th>
				<th>Password</th>
				<th>Email</th>
			</tr>
			</thead>
			<tbody>
			<tr th:each="user: ${users}">
				<td th:text="${user.username}"></td>
				<td th:text="${user.fullname}"></td>
				<!--				<td th:text="${user.password}"></td>-->
				<td th:text="${user.mail}"></td>
				<!-- <td style="display: flex; gap: 5px;"><a
					th:href="@{/user/user_info/edit/{id}(id=${user.username})}"
					class="btn btn-primary btn-sm">Update</a> -->
			</tr>
			</tbody>
		</table>
	</div>

</body>
</html>